* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.one {
  margin: 0 auto;
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: 1.6rem;
  border: 0.2rem black dotted;
  background-color: red;
  width: 30%;
  text-align: center;
  min-height: 80px;
  position: relative;
  top: 4rem;
}
.two {
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: 1.6rem;
  border: 2px black dotted;
  background-color: gray;
  width: 60%;
  min-height: 10rem;
}
.p2 {
  margin: 4rem 1.5rem 1.5rem;
}
