* {
  box-sizing: border-box; /*Se acomoda, hace un calcula automatico y resta el padding, border , excepto el margin, para que no se haga scroll horizontal*/
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  height: 500px;
  border: 10px solid grey;
  padding: 20px 35px; /*Primer digito: arriba y abajo, el otro: izquierda a derecha*/
}
